{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="pub-container">

    {% if post.teaserurl %}
      <div class="archive__item-teaser pub-left">
        <img src="{{ post.teaserurl }}" alt="">
      </div>
      {% endif %}

    <div class="pub-right">
    <h3 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink", style="text-decoration:none">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.author %}
    <p>{{ post.author}}</p>
    {% endif %}

    {% if post.journal %}
    <p><em>{{ post.journal}}</em><br><br></p>
    {% endif %}

    {% if post.paperurl %}
    <a href="{{ post.paperurl }}" class="button">Paper</a>
    {% endif %}
    {% if post.codeurl %}
    <a href="{{ post.codeurl }}" class="button">Code</a>
    {% endif %}
    {% if post.code_tbd %}
    <a class="button">Code (Coming Soon)</a>
    {% endif %}

    {% if post.codeurl_preprocess %}
    <a href="{{ post.codeurl_preprocess }}" class="button">Preprocessing</a>
    {% endif %}
    {% if post.tutorial %}
    <a href="{{ post.tutorial }}" class="button">Tutorial</a>
    {% endif %}




    {% if post.desc %}
    <p>{{post.desc}}</p>
    {% endif %}
    </div>
    </div>
    {% include page__meta.html type=include.type %}
  </article>
</div>
